.Burger{
    width: 2%;
    min-width: 2rem;
    cursor: pointer;
    padding: 0;
    float:right;
    margin:0 1rem;
}


.Burger div{
    background-color:  #232323;
    height: 3px;
    margin-top:6px;
    border-radius: 15px 50px;
}

